@import './mixins';
@import './variables';

body {
}

.d-f {
	display: flex;
}

.d-g {
	display: grid;
}

.jc-sb {
	justify-content: space-between;
}

.jc-c {
	justify-content: center;
}

.jc-e {
	justify-content: end;
}

.ai-c {
	align-items: center;
}

.fd-c {
	flex-direction: column;
}

.fw-w {
	flex-wrap: wrap;
}

.ta-c {
	text-align: center;
}

.ta-e {
	text-align: end;
}

.section {
	@include adaptiv-value('margin-bottom', 244, 64, 0);
}

.title {
	@include adaptiv-value('font-size', 130, 48, 0);
	font-weight: 700;
	@include adaptiv-value('line-height', 120, 48, 0);
	@include adaptiv-value('letter-spacing', -9.1, -2.3, 0);
}

.subtitle {
	font-weight: 700;
	@include adaptiv-value('font-size', 80, 32, 0);
	line-height: 100%;
	letter-spacing: -0.06em;
}

.button {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.16);
	background: #fff;
	@include adaptiv-value('border-radius', 24, 16, 0);
	@include adaptiv-value('padding-top', 24, 12, 0);
	@include adaptiv-value('padding-right', 48, 20, 0);
	@include adaptiv-value('padding-bottom', 24, 12, 0);
	@include adaptiv-value('padding-left', 48, 20, 0);
	font-weight: 700;
	@include adaptiv-value('font-size', 24, 16, 0);
	font-family: 'Inter', sans-serif;
	line-height: 133%;
	letter-spacing: -0.02em;
	text-align: center;
	color: #0a0c0f;
}

.dropdown {
	position: relative;

	&:hover {
		.dropdown-menu {
			visibility: visible;
			opacity: 1;
		}

		a {
			span {
				&:last-child {
					transform: rotate(180deg);
				}
			}
		}
	}

	a {
		span {
			&:last-child {
				transition: transform 0.4s;
			}
		}
	}

	.dropdown-menu {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #1a1a1a; /* Темный фон для лучшего контраста */
		border-radius: 8px;
		min-width: 160px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Более выраженная тень */
		z-index: 1000;
		opacity: 0;
		transition: opacity 0.3s ease;

		li {
			padding: 10px;
			transition: background-color 0.3s ease;

			a {
				color: rgba(255, 255, 255, 0.9); /* Яркий текст */
				font-weight: 500; /* Насыщенность текста для лучшей видимости */
			}
		}
	}
}
