@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// глобальные стили
@import './share.scss';

body {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 24px;
	font-style: normal;
	background-color: $bgColor;
	color: #fff;
}

.header {
	@include adaptiv-value('margin-bottom', 80, 32, 0);

	&__top {
		padding: 10px 0px;
		margin-bottom: 14px;
		border-bottom: 1px solid;
		border-image: linear-gradient(
				to right,
				#4f61be,
				#5b51ba,
				#8a38a7,
				#c83b8c,
				#6360cf,
				#11acaf
			)
			1;
	}

	&__top-content {
		font-weight: 600;
		font-size: 13px;
		line-height: 138%;
		letter-spacing: -0.01em;
		grid-column: 2/3;

		@include breakpoint(768px) {
			display: block;
		}

		& > span {
			opacity: 0.8;
			margin-right: 10px;

			&::after {
				content: '';
				display: block;
				width: 2px;
				height: 1em;
				opacity: 0.16;
				background-color: #fff;
				margin-left: 10px;

				@include breakpoint(768px) {
					display: none;
				}
			}

			@include breakpoint(768px) {
				display: inline;
			}
		}

		a {
			opacity: 0.25;
			color: #fff;
			transition: 0.2s;

			&:hover {
				opacity: 1;
			}

			@include breakpoint(768px) {
				opacity: 1;

				span {
					margin-right: 3px;
				}
			}

			svg {
				display: none;

				@include breakpoint(768px) {
					display: inline;
				}
			}
		}
	}

	&__bottom {
		@include adaptiv-value('font-size', 16, 14, 0);
		line-height: 150%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.56);
		padding: 20px 0;

		.logo {
			margin-right: 30px;
		}

		a {
			color: rgba(255, 255, 255, 0.56);
		}

		nav {
			@include breakpoint(768px) {
				display: none;
			}

			& > ul {
				& > li {
					margin-right: 20px;
					padding: 6px 12px;

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}

		ul {
			li {
				border-width: 1px;
				border-style: solid;
				border-color: transparent;
				border-radius: 12px;
				background-color: transparent;
				cursor: pointer;
				transition: ease 0.2s;

				&:hover {
					border-color: rgba(255, 255, 255, 0.02);
					background-color: rgba(255, 255, 255, 0.15);

					a {
						color: rgba(255, 255, 255, 0.9); /* Яркий текст */
					}
				}

				&:nth-child(4) {
					a {
						span {
							&:first-child {
								margin-right: 7px;
							}
						}
					}
				}

				/* Выпадающий список */
			}
		}
	}

	&__bottom-row {
	}

	&__bottom-left {
	}

	&__bottom-right {
		& > span {
			@include breakpoint(768px) {
				display: none;
			}
		}

		.burger {
			display: none;

			@include breakpoint(768px) {
				display: block;
			}
		}
	}
}

.intro {
	h1 {
		text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
		font-family: Inter;
		@include adaptiv-value('font-size', 130, 56, 0);
		font-style: normal;
		font-weight: 700;
		@include adaptiv-value('line-height', 120, 56, 0);
		@include adaptiv-value('letter-spacing', -9.1, -2.8, 0);
		@include adaptiv-value('margin-bottom', 140, 90, 0);

		span {
			display: inline-block;
			padding-right: 20px;
			background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				opacity: 0.24;
				background: linear-gradient(268deg, #577cff 0%, #4cbfff 100%);
			}
		}
	}

	&__row {
		grid-template-columns: repeat(3, 1fr);
		@include adaptiv-value('gap', 20, 10, 0);

		@include breakpoint(1100px) {
			grid-template-columns: 1fr;
			max-width: 500px;
			width: 100%;
			margin: 0 auto;
		}
	}

	&__column {
		@include adaptiv-value('border-radius', 24, 20, 0);
		@include adaptiv-value('padding-top', 32, 12, 0);
		@include adaptiv-value('padding-right', 40, 12, 0);
		@include adaptiv-value('padding-bottom', 32, 16, 0);
		@include adaptiv-value('padding-left', 40, 12, 0);
		border: 1px solid var(--background-white-bg-4, rgba(255, 255, 255, 0.04));
		background: #1d1f22;
		box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
		backdrop-filter: blur(60px);
		overflow: hidden;

		&:nth-child(1) {
			.intro__column-img {
				margin-right: 5px;

				&:last-child {
					margin-right: 0px;
				}

				&:nth-child(2),
				&:last-child {
					@include breakpoint(359px) {
						display: none;
					}
				}
			}

			.intro__column-img-absolute {
				top: 0;
				left: 0;
			}
		}

		&:nth-child(2) {
			.intro__column-img {
				&:nth-child(1) {
					margin-right: 20px;
					order: 1;
				}
				&:nth-child(2) {
					order: 3;
					margin-left: 20px;
				}
				&:nth-child(3) {
					order: 2;
				}
			}
		}

		&:nth-child(3) {
			.intro__column-img-absolute {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__column-imgs-wrapper {
		display: flex;
		justify-content: center;
		position: relative;
		margin-bottom: 8px;

		@include adaptiv-value('min-height', 135, 110, 0);
		overflow: hidden;
	}

	&__column-img {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;

		&--visible {
			opacity: 1;
		}
	}

	&__column-img-absolute {
		position: absolute;
	}

	&__column-curtain {
		top: 0;
		left: 0;
		transition: linear 1.5s;
		background: #1d1f22;

		&--open {
			left: 100%;
		}
	}

	&__column-toggle {
		position: relative;
		width: 56px;
		height: 32px;
		background: rgba(255, 255, 255, 0.12);
		border-radius: 100px;

		&--switch {
			background: linear-gradient(225deg, #577cff 0%, #4cbfff 100%);

			.intro__column-toggle-img-wrapper {
				background: #fff;
				left: calc(100% - 2px);
				transform: translateX(-100%);

				svg {
					path {
						fill: #43a1f7;
					}
				}
			}
		}
	}

	&__column-toggle-img-wrapper {
		position: absolute;
		left: 2px;
		top: 2px;
		width: 28px;
		height: 28px;
		border-radius: 100%;
		background: rgba(255, 255, 255, 0.12);
		transition: ease 0.5s;

		svg {
			path {
				fill: #fff;
				transition: ease 0.5s;
			}
		}
	}

	&__column-description {
		padding: 0px 32px;

		h3 {
			@include adaptiv-value('font-size', 24, 20, 0);
			line-height: 135%;
			letter-spacing: -0.02em;
			@include adaptiv-value('margin-bottom', 12, 8, 0);
		}

		p {
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			@include adaptiv-value('line-height', 24, 20, 0);
			letter-spacing: -0.256px;
			opacity: 0.36;
		}
	}
}

.metrics {
	position: relative;
	margin-bottom: 80px;

	@include breakpoint(1024px) {
		margin-bottom: 30px;
	}

	@include breakpoint(768px) {
		margin-bottom: 180px;
	}

	@include breakpoint(530px) {
		margin-bottom: 140px;
	}

	h2 {
		max-width: 800px;
		margin: 0 auto;
		@include adaptiv-value('margin-bottom', 110, 40, 0);
	}

	&__content {
		position: relative;
	}

	&__content-price {
		@include breakpoint(768px) {
			margin-bottom: 35px;
		}

		&:first-child {
			margin-bottom: 70px;

			@include breakpoint(768px) {
				margin-bottom: 35px;
			}
		}

		h3 {
			@include adaptiv-value('font-size', 56, 32, 0);
			font-weight: 700;
			@include adaptiv-value('line-height', 56, 32, 0);
			@include adaptiv-value('letter-spacing', -2.6, -1, 0);
		}

		h4 {
			@include adaptiv-value('font-size', 24, 16, 0);
			font-weight: 700;
			line-height: 24px;
			@include adaptiv-value('letter-spacing', -0.5, -0.25, 0);
			opacity: 0.36;
		}
	}

	&__content-price-absolute {
		position: absolute;
		top: 140px;

		@include breakpoint(768px) {
			position: static;
		}

		&:nth-of-type(2) {
			left: 20px;
		}
		&:nth-of-type(3) {
			right: 20px;
		}
	}

	&__content-circle-wrapper {
		position: relative;
	}

	&__content-circle {
		position: relative;
		z-index: -3;
	}

	&__content-circle-curtain {
		background-color: $bgColor;
		transition: ease 2s;
		left: 0;
		z-index: -2;

		&--open {
			left: 100%;
		}
	}

	&__content-gradient {
		position: absolute;
		top: -200px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		z-index: -1;
		transition: 1.3s ease-in-out;

		@include breakpoint(1024px) {
			top: 0;
			transform: translateX(-50%) scale(200%);
		}

		@include breakpoint(768px) {
			top: -60px;
			transform: translateX(-50%) scale(300%);
		}

		&--visible {
			opacity: 1;
		}
	}

	&__content-current-price {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 170px;

		@include breakpoint(768px) {
			top: 80px;
		}

		@include breakpoint(375px) {
			top: 40px;
		}

		h3 {
			@include adaptiv-value('font-size', 80, 40, 0);
			font-weight: 700;
			@include adaptiv-value('line-height', 80, 40, 0);
			@include adaptiv-value('letter-spacing', -4.8, -1.6, 0);
		}

		h4 {
			@include adaptiv-value('font-size', 32, 16, 0);
			font-weight: 700;
			@include adaptiv-value('line-height', 40, 24, 0);
			@include adaptiv-value('letter-spacing', -0.5, -0.25, 0);

			@include breakpoint(1024px) {
				opacity: 0.36;
			}
		}
	}

	&__content-bottom {
		position: absolute;
		max-width: 980px;
		width: 100%;
		bottom: 130px;
		left: 50%;
		transform: translateX(-50%);
		grid-template-columns: repeat(2, 1fr);
		@include adaptiv-value('gap', 20, 10, 0);

		@include breakpoint(768px) {
			bottom: -80px;
			grid-template-columns: 1fr;
		}

		@include breakpoint(530px) {
			bottom: -40px;
		}

		@include breakpoint(400px) {
			bottom: -70px;
		}
	}

	&__content-bottom-column {
	}

	&__content-bottom-button {
		display: block;
		width: 100%;
		@include adaptiv-value('border-radius', 32, 20, 0);
		border: 1px solid var(--background-white-bg-8, rgba(255, 255, 255, 0.08));
		background: var(--background-white-bg-8, rgba(255, 255, 255, 0.08));
		box-shadow: 0px 40px 64px -30px rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(8px);
		@include adaptiv-value('padding', 32, 16, 0);
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background: var(--background-white-bg-8, rgba(255, 255, 255, 0.2));
		}

		p {
			@include adaptiv-value('font-size', 32, 20, 0);
			@include adaptiv-value('line-height', 32, 28, 0);
			@include adaptiv-value('letter-spacing', -1, -0.4, 0);
			color: #fff;
			text-align: left;
		}
	}

	&__content-bottom-img {
		@include adaptiv-value('margin-bottom', 50, 5, 0);
		@include adaptiv-value('width', 60, 40, 0);
	}
}

.stake {
	.container {
		position: relative;

		& > p {
			color: rgba(255, 255, 255, 0.36);
			@include adaptiv-value('font-size', 48, 20, 0);
			@include adaptiv-value('line-height', 60, 24, 0);
			@include adaptiv-value('letter-spacing', -1.9, -0.4, 0);
			@include adaptiv-value('margin-bottom', 64, 48, 0);

			span {
				color: #fff;
			}
		}
	}

	h2 {
		@include adaptiv-value('margin-bottom', 20, 10, 0);
	}

	h3 {
		display: inline-block;
		text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
		@include adaptiv-value('font-size', 100, 40, 0);
		font-weight: 700;
		@include adaptiv-value('line-height', 100, 40, 0);
		@include adaptiv-value('letter-spacing', -6, -2, 0);
		@include adaptiv-value('padding-top', 24, 10, 0);
		@include adaptiv-value('padding-right', 48, 20, 0);
		@include adaptiv-value('padding-bottom', 24, 10, 0);
		@include adaptiv-value('padding-left', 48, 20, 0);
		@include adaptiv-value('margin-bottom', 50, 25, 0);
		@include adaptiv-value('border-radius', 60, 30, 0);
		border: 1px solid #000;
		background: linear-gradient(268deg, #fb4a4a 0%, #9b4cff 100%);
		transform: rotate(-2deg);
	}

	&__row {
		grid-template-columns: repeat(2, 1fr);
		@include adaptiv-value('gap', 100, 30, 0);

		@include breakpoint(768px) {
			grid-template-columns: 1fr;
		}
	}

	&__column {
		&:first-child {
			position: relative;

			@include breakpoint(768px) {
				justify-content: start;
			}

			p {
				@include adaptiv-value('font-size', 120, 64, 0);
				font-weight: 100;
				@include adaptiv-value('letter-spacing', 38, 20, 0);
				text-transform: uppercase;
				writing-mode: vertical-lr;
				transform: rotate(180deg);
				opacity: 0.08;

				@include breakpoint(768px) {
					writing-mode: horizontal-tb;
					transform: rotate(0deg);
				}
			}
		}
	}

	&__gradient {
		position: absolute;
		right: -300px;
		top: -250px;
		z-index: -1;
		transform: scale(200%);

		@include breakpoint(1024px) {
			right: -200px;
			top: -100px;
		}

		@include breakpoint(768px) {
			top: -230px;
			left: 0px;
			right: auto;
		}
	}

	&__list {
	}

	&__item {
		@include adaptiv-value('margin-bottom', 64, 32, 0);

		&:last-child {
			margin-bottom: 0;
		}

		h4 {
			@include adaptiv-value('font-size', 80, 32, 0);
			font-weight: 700;
			@include adaptiv-value('line-height', 80, 32, 0);
			@include adaptiv-value('letter-spacing', -4.8, -1, 0);
			@include adaptiv-value('margin-bottom', 12, 2, 0);
		}

		p {
			@include adaptiv-value('font-size', 32, 16, 0);
			@include adaptiv-value('line-height', 40, 24, 0);
			@include adaptiv-value('letter-spacing', -0.64, -0.25, 0);
			opacity: 0.36;
		}
	}

	&__item-img {
		@include adaptiv-value('margin-right', 40, 16, 0);
		@include adaptiv-value('width', 100, 40, 0);
	}
}

.utility {
	h2 {
		@include adaptiv-value('margin-bottom', 60, 40, 0);
	}

	&__row {
		grid-template-columns: repeat(2, 1fr);
		@include adaptiv-value('margin-bottom', 80, 24, 0);
		@include adaptiv-value('column-gap', 20, 15, 0);
		@include adaptiv-value('row-gap', 80, 50, 0);

		@include breakpoint(1024px) {
			grid-template-columns: 1fr;
		}

		&:nth-of-type(1) {
			.utility__column {
				&:last-child {
					@include adaptiv-value('min-height', 400, 100, 0);

					.utility__column-item {
						@include adaptiv-value('width', 90, 34, 0);
					}
				}
			}

			.utility__column-item {
				display: flex;
				align-items: end;
				@include adaptiv-value('font-size', 20, 6, 0);
				justify-content: center;
				letter-spacing: -0.02em;
				background: rgba(255, 255, 255, 0.08);
				border: 2px solid rgba(255, 255, 255, 0.08);
				@include adaptiv-value('border-radius', 24, 9, 0);
				@include adaptiv-value('padding', 16, 6, 0);
				@include adaptiv-value('margin-right', 20, 7, 0);
				height: 55px;
				transition: 1s;

				&:nth-child(2) {
					@include adaptiv-value('margin-bottom', 20, 10, 0);
				}

				&:nth-child(3) {
					@include adaptiv-value('margin-bottom', 40, 20, 0);
				}

				&:nth-child(4) {
					@include adaptiv-value('margin-bottom', 60, 30, 0);
				}

				&:nth-child(5) {
					@include adaptiv-value('margin-bottom', 80, 40, 0);
				}

				&:last-child {
					box-shadow: 0 16px 80px -12px rgba(255, 215, 115, 0.24);
					background: linear-gradient(0deg, #ffc657 0%, #ffd977 100%);
					margin-right: 0px;
				}
			}
		}

		&:nth-of-type(2) {
			.utility__column-item {
				opacity: 0;
				transition: 3s ease;

				&--open {
					opacity: 1;
				}

				@include breakpoint(1024px) {
					max-width: 400px;
				}
			}
		}

		&:nth-of-type(3) {
			.utility__column {
				&:last-child {
					position: relative;
					@include adaptiv-value('min-height', 580, 200, 0);
				}
			}

			.utility__column-item {
				position: absolute;
				transition: 1.8s;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					@include adaptiv-value('width', 146, 52, 0);
					@include adaptiv-value('height', 146, 52, 0);
				}

				&:nth-child(1) {
					top: 50%;
					left: 0;
					transform: translateY(-50%) scale(50%);
				}

				&:nth-child(2) {
					top: 0;
					left: 50%;
					transform: translateX(-50%) scale(50%);
				}

				&:nth-child(3) {
					top: 50%;
					right: 0;
					transform: translateY(-50%) scale(50%);
				}

				&:nth-child(4) {
					bottom: 0;
					left: 50%;
					transform: translateX(-50%) scale(50%);
				}

				&:nth-child(5) {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(50%);
					@include adaptiv-value('width', 140, 49, 0);
					@include adaptiv-value('height', 140, 49, 0);
				}

				&--scale {
					&:nth-child(1) {
						transform: translateY(-50%) scale(100%);
					}

					&:nth-child(2) {
						top: 0;
						left: 50%;
						transform: translateX(-50%) scale(100%);
					}

					&:nth-child(3) {
						top: 50%;
						right: 0;
						transform: translateY(-50%) scale(100%);
					}

					&:nth-child(4) {
						bottom: 0;
						left: 50%;
						transform: translateX(-50%) scale(100%);
					}

					&:nth-child(5) {
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) scale(100%);
					}
				}
			}
		}

		&:nth-of-type(even) {
			.utility__column {
				&:first-child {
					grid-column: 2/3;

					@include breakpoint(1024px) {
						grid-column: auto;
					}
				}
				&:last-child {
					grid-column: 1/2;
					grid-row: 1/2;

					@include breakpoint(1024px) {
						grid-column: auto;
						grid-row: auto;
					}
				}
			}
		}

		&:last-child {
			@include adaptiv-value('margin-bottom', 64, 40, 0);
		}
	}

	&__column {
		&:first-child {
			@include adaptiv-value('padding-top', 80, 24, 0);
			@include adaptiv-value('padding-bottom', 80, 24, 0);
		}

		&:last-child {
			@include breakpoint(1024px) {
				width: 70%;
				margin: 0 auto;
			}
		}

		h3 {
			font-weight: 700;
			@include adaptiv-value('font-size', 80, 32, 0);
			line-height: 100%;
			letter-spacing: -0.06em;
			color: #fff;
			@include adaptiv-value('margin-bottom', 32, 12, 0);
		}

		p {
			font-weight: 500;
			@include adaptiv-value('font-size', 32, 16, 0);
			line-height: 125%;
			letter-spacing: -0.02em;
			color: rgba(255, 255, 255, 0.36);

			span {
				color: #fff;
			}
		}
	}

	.button-wrapper {
		justify-content: center;
	}
}

.support {
	h2 {
		@include adaptiv-value('margin-bottom', 240, 80, 0);
	}

	&__content {
		position: relative;
	}

	&__content-row {
		padding: 0px 60px;

		@include breakpoint(1024px) {
			padding: 0px 20px;
		}

		@include breakpoint(768px) {
			flex-direction: column;
		}
	}

	&__content-img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
		opacity: 0;
		transition: 2s;

		@include breakpoint(768px) {
			transform: translateY(-50%) rotate(90deg) scale(200%);
		}

		&--visible {
			opacity: 1;
		}
	}

	&__content-text {
		&:first-child {
			@include breakpoint(768px) {
				margin-bottom: 105px;
			}
		}

		h3 {
			font-weight: 700;
			@include adaptiv-value('font-size', 80, 40, 0);
			line-height: 100%;
			letter-spacing: -0.06em;
		}

		p {
			@include adaptiv-value('font-size', 32, 16, 0);
			line-height: 125%;
			letter-spacing: -0.02em;
			opacity: 0.36;
		}
	}
}

.how-to-buy {
	h2 {
		@include adaptiv-value('margin-bottom', 100, 36, 0);
	}

	&_row {
		grid-template-columns: repeat(2, 1fr);
		@include adaptiv-value('column-gap', 20, 15, 0);
		@include adaptiv-value('row-gap', 20, 44, 0);

		@include breakpoint(1024px) {
			grid-template-columns: 1fr;
		}
	}

	&__column {
		p {
			&:first-child {
				display: inline-block;
				font-weight: 700;
				@include adaptiv-value('font-size', 16, 12, 0);
				line-height: 150%;
				letter-spacing: 0.16em;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.56);
				background: rgba(255, 255, 255, 0.08);
				padding-top: 8px;
				@include adaptiv-value('padding-right', 24, 16, 0);
				padding-bottom: 8px;
				@include adaptiv-value('padding-left', 24, 16, 0);
				@include adaptiv-value('border-radius', 16, 12, 0);
				@include adaptiv-value('margin-bottom', 32, 20, 0);
			}

			&:last-child {
				@include adaptiv-value('font-size', 32, 16, 0);
				line-height: 125%;
				letter-spacing: -0.02em;
				color: #fff;
				opacity: 0.36;
			}
		}

		h3 {
			@include adaptiv-value('margin-bottom', 24, 12, 0);
		}

		h6 {
			@include adaptiv-value('font-size', 16, 12, 0);
			line-height: 150%;
			letter-spacing: -0.02em;
			@include adaptiv-value('margin-bottom', 24, 12, 0);
		}
	}

	&__column-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiv-value('padding-top', 80, 40, 0);
		padding-right: 10px;
		@include adaptiv-value('padding-bottom', 80, 40, 0);
		padding-left: 10px;
		@include adaptiv-value('border-radius', 48, 16, 0);
		background: #22252a;

		@include breakpoint(1024px) {
			max-width: 600px;
			margin: 0 auto;
		}
	}

	&__column-img {
	}
}

.frequently {
	h3 {
		margin-bottom: 24px;
	}

	.container {
		& > p {
			font-weight: 500;
			@include adaptiv-value('font-size', 32, 20, 0);
			line-height: 125%;
			letter-spacing: -0.02em;
			color: rgba(255, 255, 255, 0.36);
			@include adaptiv-value('margin-bottom', 48, 32, 0);
		}
	}

	&__socials {
		@include adaptiv-value('margin-bottom', 80, 48, 0);
	}

	&__social {
		@include adaptiv-value('margin-right', 48, 20, 0);

		&:last-child {
			margin-right: 0;
		}

		p {
			@include adaptiv-value('font-size', 32, 20, 0);
			line-height: 125%;
			letter-spacing: -0.02em;
			text-align: center;
			color: #43a1f7;

			@include breakpoint(768px) {
				display: none;
			}
		}
	}

	&__social-img {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			@include adaptiv-value('width', 31, 20, 0);
			@include adaptiv-value('height', 26, 15, 0);
		}

		@include breakpoint(768px) {
			padding: 15px;
			background: rgba(67, 161, 247, 0.16);
			border-radius: 100px;
		}
	}

	&__questions {
		max-width: 780px;
		width: 100%;
		margin: auto;
	}

	&__question {
		border: 1px solid rgba(255, 255, 255, 0.04);
		@include adaptiv-value('border-radius', 24, 16, 0);
		@include adaptiv-value('padding-top', 24, 14, 0);
		@include adaptiv-value('padding-right', 24, 16, 0);
		@include adaptiv-value('padding-bottom', 24, 14, 0);
		@include adaptiv-value('padding-left', 24, 16, 0);
		@include adaptiv-value('margin-bottom', 16, 8, 0);
		background: #181b20;

		&--open {
			.frequently__question-img {
				svg {
					transform: rotate(180deg);
				}
			}

			.frequently__question-answer {
				max-height: 100px;
			}
		}
	}

	&__question-text {
		p {
			@include adaptiv-value('font-size', 24, 16, 0);
			line-height: 133%;
			letter-spacing: -0.02em;
			color: #fff;
		}
	}

	&__question-answer {
		@include adaptiv-value('font-size', 20, 15, 0);
		font-weight: 400;
		max-height: 0px;
		overflow: hidden;
		transition: 0.4s;

		p {
			@include adaptiv-value('padding-top', 24, 14, 0);
			opacity: 0.56;
		}
	}

	&__question-img {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		@include adaptiv-value('width', 48, 30, 0);
		@include adaptiv-value('height', 48, 30, 0);
		background: #292c33;
		transition: 0.1s;
		cursor: pointer;

		@include breakpoint(768px) {
			background: transparent;
		}

		&:hover {
			background: #434752;

			@include breakpoint(768px) {
				background: transparent;
			}
		}

		svg {
			transition: 0.5s;
		}
	}
}

.footer {
	padding-bottom: 50px;

	&__row {
		grid-template-columns: repeat(5, 1fr);

		@include breakpoint(768px) {
			display: none;
		}
	}

	&__column {
		li {
			margin-bottom: 10px;

			&:first-child {
				margin-bottom: 12px;

				a {
					font-weight: 700;
					@include adaptiv-value('font-size', 18, 14, 0);
					color: #fff;
				}
			}

			a {
				font-weight: 500;
				@include adaptiv-value('font-size', 16, 12, 0);
				line-height: 150%;
				letter-spacing: -0.02em;
				color: rgba(255, 255, 255, 0.56);
			}
		}

		p {
			font-weight: 500;
			@include adaptiv-value('font-size', 16, 12, 0);
			line-height: 150%;
			letter-spacing: -0.02em;
			color: rgba(255, 255, 255, 0.24);
			margin-bottom: 10px;
		}
	}
}
