<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-content d-f ai-c jc-c">
				<span class='d-f ai-c'>
					Delisting announcement. 12 DeFi and Masternode assets will be delisted. Withdraw by March 31.
				</span>
				<a href='#'>
					<span>Read more</span>
					<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M6.63633 0.386176C6.92923 0.0932818 7.4041 0.0932794 7.69699 0.386171L11.7803 4.46946C11.921 4.61012 12 4.80088 12 4.99979C12 5.19871 11.921 5.38947 11.7803 5.53013L7.697 9.61346C7.4041 9.90635 6.92923 9.90635 6.63634 9.61346C6.34344 9.32057 6.34344 8.84569 6.63634 8.5528L9.43934 5.7498H0.75C0.335786 5.7498 0 5.41401 0 4.9998C0 4.58558 0.335786 4.2498 0.75 4.2498H9.43933L6.63634 1.44684C6.34344 1.15394 6.34344 0.679071 6.63633 0.386176Z"
							fill="white" />
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="header__bottom-row d-f ai-c jc-sb">
				<div class="header__bottom-left d-f ai-c">
					<div class="logo">
						<a href="#">
							<svg width="41" height="22" viewBox="0 0 41 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M35.875 0L0 22H41L35.875 0ZM5.125 0L17.0791 8.998L0 22L5.125 0Z" fill="white" />
							</svg>
						</a>
					</div>
					<nav>
						<ul class='d-f ai-c'>
							<li><a href="#">Platform</a></li>
							<li><a href="#">Midas Coin</a></li>
							<li><a href="#">YAPs</a></li>
							<li class="dropdown">
								<a href="#" class='d-f ai-c'>
									<span>Resources</span>
									<span class='d-f ai-c'>
										<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M5.70866 4.62478L5.70865 4.62479C5.10697 5.22647 4.80613 5.52732 4.46363 5.6386C4.16237 5.73649 3.83785 5.73649 3.53658 5.6386C3.19409 5.52732 2.89325 5.22647 2.29156 4.62479C0.987945 3.32117 0.336136 2.66936 0.292718 2.11769C0.255045 1.63901 0.448807 1.17123 0.813922 0.859391C1.23471 0.5 2.15651 0.5 4.00011 0.5C5.8437 0.5 6.7655 0.5 7.18629 0.859391C7.55141 1.17123 7.74517 1.63901 7.7075 2.11769C7.66408 2.66936 7.01227 3.32117 5.70866 4.62478Z"
												fill="white" fill-opacity="0.24" />
										</svg>
									</span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Documentation</a></li>
									<li><a href="#">API</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__bottom-right d-f ai-c">
					<span>
						Aurielien Solamon
					</span>
					<button class="burger burger--open">
						<div class="burger__line"></div>
						<div class="burger__line"></div>
						<div class="burger__line"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>